@import "tailwindcss";
@import "@fontsource-variable/geist";
@import "@fontsource-variable/geist-mono";
@import "./styles/theme.css";

@source "../node_modules/@noahhendrickson/yearn-ui/dist/index.js";

@plugin "tailwindcss-animate";
@plugin "tailwindcss-react-aria-components";

@custom-variant dark (&:where(.dark-mode, .dark-mode *));

@utility scrollbar-hide {
    &::-webkit-scrollbar {
        display: none;
        -webkit-appearance: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html,
body {
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}